<article id="page-{{ id }}" class="h-entry article article-type-page" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-inner">
    <div class="article-main">
      <header class="article-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 class="p-name article-title" itemprop="headline name">
            {{ title }}
          </h1>
        </div>
      </header>
      
      <div class="e-content article-entry" itemprop="articleBody">
        {{ body }}
      </div>
    </div>
  </div>
</article>
